@model List<Account>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/allAccounts.css" asp-append-version="true">
    <title>All accounts</title>
</head>
<body>
    <!--Upper block-->
    <div class="upperBlock">
        <!-- Logo -->
        <div class="logoBlock">
            <img src="images/Logo.png" alt="logo" class="logo" />
            <label class="lLogo">Social Network</label>
        </div>

        <!--Buttons-->
        <div class="buttonsBlock">
            <form asp-action="MyAccount" asp-controller="Main" method="get"><button>My account</button></form><form asp-action="Posts" asp-controller="Main" method="get"><button>All posts</button></form><form asp-action="AllAccounts" asp-controller="Main" method="get"><button>All accounts</button></form>
        </div>
    </div>


    <!--Accounts-->
    <div class="accountsBlock">

        @foreach(Account account in Model){
        <!--Account-->
        <a asp-action="Account" asp-controller="main" asp-route-idAccount="@account.IdAccount" style="text-decoration: none;">
        <div class="accountBlock">
            <div class="accountImage">
                    @if (account.Avatarka != null && account.Avatarka.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(account.Avatarka)" alt="Avararka">
                    }
            </div>
            <div class="accountName">
                <label>@account.Nickname</label>
            </div>
            <div class="accountDesc">
                <label>@account.Description</label>
            </div>
            <div class="accountPosts">
                <label class="accountPostsLabel">@account.Posts.Count</label>
                <label class="accountPostsLabel2">posts</label>
            </div>
        </div>
        </a>
        }
    </div>
</body>
</html>
